inference/best_model/figs filter=lfs diff=lfs merge=lfs -text
inference/best_model/model.pt filter=lfs diff=lfs merge=lfs -text
inference/best_model/model_structure.txt filter=lfs diff=lfs merge=lfs -text
inference/best_model/training_config.json filter=lfs diff=lfs merge=lfs -text
inference/best_model/validation_image_caption.txt filter=lfs diff=lfs merge=lfs -text
inference/best_model/vocab.pt filter=lfs diff=lfs merge=lfs -text
